<div class="centro">
    <div class="card" style="width:600px">
        <img class="card-img-top" src="{{juego.url}}" alt="Card image" style="width:100%; height:auto; object-fit: cover;">
        <div class="card-body">
            <h4 class="card-title">{{juego.nombre}}</h4>
            <p class="card-text">{{juego.fecha}}</p>
            <button class="btn btn-primary" (click)="mensaje()">Ver</button>
            <a href="productos"  class="btn btn-danger">Regresar</a>
        </div>
    </div>
</div>
