<div class="fondo-pantalla">


</div>
<body class="fondo-pantalla">
    <div class="texto-informativo">
        <p>¡Bienvenido a nuestra comunidad de jugadores! En nuestra plataforma, te ofrecemos dos opciones de inicio de sesión para acceder a todo nuestro contenido exclusivo y conectarte con otros jugadores apasionados como tú.</p>
    
        <p>Si ya eres parte de nuestra comunidad, simplemente introduce tu nombre de usuario y contraseña en los campos proporcionados a continuación. ¡Es rápido y fácil!</p>
    
        <p>Pero si prefieres una experiencia aún más conveniente, puedes optar por iniciar sesión con tus redes sociales favoritas, como Facebook o Google. ¡Es una forma rápida de acceder a todas nuestras funciones sin tener que recordar otra contraseña!</p>
    
        <p>¿Eres nuevo aquí? ¡No hay problema! Puedes registrarte fácilmente haciendo clic en el enlace de registro y ser parte de la diversión en cuestión de minutos.</p>
    
        <p>Ya sea que elijas iniciar sesión solo o conectar con tus contactos, ¡prepárate para sumergirte en un mundo de videojuegos emocionantes y experiencias compartidas con nuestra comunidad global de jugadores!</p>
    </div>
    
    </body>
